h2,form{
    text-align: center;
}
#abc{
    width:300px;
    border-radius: 10px;
}
h1{
    text-align:right;
}
#xyz,#uvw{
    text-align:left;
}
.line-1 ,.line-2{
    height: 1px;
    background: black;
  }

